
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 2px;
}

.body {
    background-color:#ffffff;
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0 auto !important;

}

.navbar{
    background-color: #C083B9;
    width: 100%;
    height: 85px;
}

.navbar_logotipo {
    text-align: center;
    padding: 5px;
}


    
.container_header{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 30px;
}
    
.header_maravilhosa_img{
    width: 100%;
    height: 380px;
    margin-left: 40px;
    margin-top: 50px;
}

.div-titulo {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
}

.header-titulo {
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
}


.header-titulo h1{
    width: 80%;
    margin: 45px 10px 0px 70px ;
    color: #462755;
    font-size: 100px;
    font-family: 'Elsie Swash Caps', cursive;
}

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 70px;
    background: #7F479B;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-left: 4.5rem;
    margin-top: 2rem;
}

.header-button:hover:hover {
    background-color: #462755;
    color: #ffffff;
    transition: background-color .5s;
}

.header_gif img{
    width: 30%;
    height: 40%;
}


.maravilhosa{
    background-color:#FAD8E5;
    align-items: center;
    width: 100%;
    height: 750px;
}

.container_maravilhosa{
    text-align: center;
    padding: 0 5%;
    display: flex;
}

.maravilhosa_titulo{
    color: #462755;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
    font-family: 'STIX Two Text', serif;;
}

.maravilhosa_boxBorder{
    border: 2px solid #b5a7c0;
    margin: 42px;
    margin-bottom: 30px;
    text-align: center;
    padding: 12px;
    margin-left: 50px;;
    margin-top: 5px;
}

.fm_rs img:hover{
    transform: scale(1.2);
    transition: all .5s ease  0s;
}

.boxBorder_texto{
    margin: 20px;
    color: #000000;
    text-align: center;
    font-family: 'STIX Two Text', serif;;
    font-size: 18px;
}

.fm_txt {
    margin: 20px;
    color: #000000;
    text-align: center;
    font-family: 'STIX Two Text', serif;;
    font-size: 18px;
    margin-bottom: 30px;
}

.txt_c {
    margin: 20px;
    color: #000000;
    text-align: center;
    font-family: 'STIX Two Text', serif;;
    font-size: 18px;
    margin-bottom: 30px;
}

.c_txt {
    margin: 20px;
    color: #000000;
    text-align: center;
    font-family: 'STIX Two Text', serif;;
    font-size: 18px;
    margin-bottom: 30px;
}

.texto_div {
    margin: 20px;
    color: #000000;
    text-align: center;
    font-family: 'STIX Two Text', serif;;
    font-size: 18px;
    margin-bottom: 30px;
}

.txt_fm {
    margin: 20px;
    color: #000000;
    text-align: center;
    font-family: 'STIX Two Text', serif;;
    font-size: 18px;
    margin-bottom: 30px;
}

.text_ft {
    margin: 20px;
    color: #000000;
    text-align: center;
    font-family: 'STIX Two Text', serif;;
    font-size: 18px;
    margin-bottom: 30px;
}

.ft_text {
    margin: 20px;
    color: #000000;
    text-align: center;
    font-family: 'STIX Two Text', serif;;
    font-size: 18px;
    margin-bottom: 30px;
}

.imggram {
    align-self: center;
}

.maravilhosa_img img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.suahistoria_titulo{
    color: #462755;
    padding-bottom: 10px;
    font-family: 'STIX Two Text', serif;;
}

.suahistoria_paragrafo{
    padding-bottom: 12px;
    font-family: 'STIX Two Text', serif;;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    border: 2px solid;
    margin-left: 50px;;
}


.suahistoria_autora{
    color: #462755;
    font-weight: bold;
}

.container_suaHistoria{
    display: flex;
    color: #674582;
    margin-left: 08%;
    margin-right: 08%;
    
}

.suaHistoria_imagem{
    width: 40%;
}


.suaHistoria_texto{
    width: 100%;
    margin-left: 40px;
}

.autora{
    background-color: #c7eeeb;
    align-items: center;
    width: 100%;
    height: 500px;
    margin-top: 60px;
    padding: 60px;
    text-align: justify;
    font-family: 'STIX Two Text', serif;;
}

.autora_titulo{
    text-align: center;
    color: #462755;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 30px;
    font-family: 'STIX Two Text', serif;;
}

.h3_nad {
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'STIX Two Text', serif;;
    font-weight: bold;
}

.pnad{
    margin-bottom: 10px;
    margin-right: 40px;
    font-size: 18px;
    font-family: 'STIX Two Text', serif;;
    color:rgb(0, 0, 0);
}

.pnadi {
    margin-bottom: 10px;
    margin-right: 40px;
    font-size: 18px;
    font-family: 'STIX Two Text', serif;;
    color:rgb(0, 0, 0);
}

.autora_sobre  {
    display: flex;
}

.autora_imagem {
    width: 20%;
    border-radius: 66%;
    margin-right: 35px;
    margin-bottom: 50px;
}

.container_recado{
    display: flex;
    margin-top: 0px;
    margin-left: 12rem;
    margin-right: 0px;
    text-align: justify;
    line-height: 30px;
    font-family: 'STIX Two Text', serif;;
}
.div-recadinho{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    border: 2px solid;
    padding: 12px;
    margin-left: 50px;    
}

.icon{
    width: 150px;
    height: 150px;
    margin-top: 150px;
    margin-left: 40px;
}


.form__exemplo{
    display: flex;
    align-content: center;
    flex-direction: column;    
}

.h1maravilhosa{
    font-family: 'STIX Two Text', serif;;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color:#462755;
}

.dnome {
    font-family: 'STIX Two Text', serif;;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;

}
.drecado{
    font-family: 'STIX Two Text', serif;;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

.demail {
    font-family: 'STIX Two Text', serif;;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

#nomeInput{
    width: 39%;
    height: 30px;
    padding: 8px;
    display: block;
    text-align: center;
    margin-left: 30%;

}

#emailInput {
    width: 39%;
    height: 30px;
    padding: 8px;
    display: block;
    text-align: center;
    margin-left: 30%;
    

}

#textoInput{
    width: 39%;
    height: 100px;
    padding: 8px;
    display: block;
    text-align: center;
    margin-left: 30%;

}


.texto__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    background: #7F479B;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-left: 30%;
    
}

.texto__button:hover:hover {
    background-color: #462755;
    color: #ffffff;
    transition: background-color .5s;
}

.nova__linha{
    color: rebeccapurple;
    border: 1px dashed rebeccapurple;    
    margin-top: 30px;
    padding: 5px;
    width: 100%;
}

.novo__nome{
    font-weight: bold;
    font-size: 10PX;
    font-style: italic;
}

.novo__texto{
    text-align: justify;
    width: 90%;
}

.footer {
    background: #C083B9;
    color: #F3F3F3;
    
}

.footer__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    padding: 30px;
}

.footer__links {
    display: block;
    text-align: center;
    list-style: none;
}

.footer_cc {
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: black;
    text-align: center;
}

.navegacao__redes-sociais img:hover{
    transform: scale(1.2);
    transition: all .5s ease  0s;
}

@media(max-width: 1240px){
    .header_maravilhosa_img{
        width: 90%;
        height: 380px;
        margin-left: 20px;
    }
     
}

@media(max-width: 760px){
    .container_header{
        flex-direction: column;
        
    }

    .header-titulo{
        width: 90%;
        margin: 5px 10px 5px 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .maravilhosa{
        margin-top: 200px;
        height: 100%;
        padding-bottom: 25px;
    }

    .container_suaHistoria{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        
    }

    .suaHistoria_imagem{
        width: 90%;
        margin-bottom: 30px;
    }

    .container_recado{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

   .form__exemplo{
       margin-left: 10px;
       padding: 20px;
   }

    
    #textoInput{
        width: 80%;
        height: 100px;
    }
    
    #nomeInput{
        width: 80%;
        height: 30px;
    }

    .texto__button{
        width: 30%;
    }
}

@media(max-width: 500px){
    
    * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    }
  
    a {
      text-decoration: none;
      color: inherit;
      margin: 2px;
    }
  
    .body {
      background-color:#ffffff;
      color: rgb(0, 0, 0);
     }
  
    .navbar{
      background-color: #C083B9;
      width: 100%;
      height: 100px;
      
    }
  
    .navbar_logotipo {
      text-align: center;
      padding: 5px;
      
    }
  
    .header_maravilhosa_img{
        height: 500px;
    }

    .maravilhosa{
        margin-top: px;
        
    }
    

    .header-titulo h1{
        width: 80%;
        margin: 20px 10px 0px 30px ;
        color: #462755;
        font-size: 50px;
        font-family: 'Elsie Swash Caps', cursive;
    
    }

    .header-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 70px;
        background: #7F479B;
        border-radius: 5px;
        color: #ffffff;
        text-decoration: none;
        list-style: none;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0.5px;
        margin: 0px 0px 0px 40px;
    }

    .header-button:hover:hover {
        background-color: #462755;
        color: #ffffff;
        transition: background-color .5s;
    }

    .header_gif img {
        width: 50px;
        height: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }
}
